html
{
    font-size: 30px;
}
.heading1
{
    width:99%;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border:1px solid lightgrey;
}

#first-heading{
    font-family: sans-serif;
    word-spacing: 10px;
}

.description{
    width: 99%;
    height: 2.5rem;
    border:1px solid gray;
}

#describe{
    position: relative;
    top:10px;
    left:0px;
    font-size: 20px;
    border: 1px solid transparent;
    background-color:transparent ;
}

.description:hover{
background-color: lightgray;
}

input:focus{
outline:none;
}

.form-group{
    display: inline-block;
    width: 49.5%;
    border:1px solid lightgray;
    height: 2.5rem;
    position: relative;
    top:-84px;
    
}

.form-group:hover{
background-color: lightgrey;
}

.side-date{
    display: inline-block;
    width: 49.5%;
    border:1px solid lightgray;
    height: 2.5rem;
    position: relative;
    right:8px;
    top: -1px;
}

.side-date:hover{
    background-color: lightgrey;
}

#category
{
    position: relative;
    width:75%;
    top:30px;
    right:165px;
    background-color:transparent;
    border:1px solid transparent;
    font-size: 18px;
}

#category:focus{
outline: none;
}

#due-date{
    word-spacing: 10px;
    position: relative;
    left:5px;
    top:-28px;
}

#date{
    position: relative;
    top: -50px;
    left: 5px;
    border: 1px solid transparent;
    width: 80%;
    background-color: transparent;
}

.time-set{
    position: relative;
    top: -84px;
    width: 99%;
    height: 2.5rem;
    border: 1px solid lightgray;
}

#time{
    position: relative;
    top: 30px;
    right: 135px;
    width:36.5%;
    border:1px solid transparent;
    background-color: transparent;
}

.time-set:hover{
    background-color: lightgray;
}

.add{
    width: 99%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border:1px solid lightgray;
    position: relative;
    top:-85px;
}

.add-button{
    width: 20%;
    height: 50%;
}
.plus{
    color:antiquewhite;
    position: relative;
    left: 45px;
    top:15px;
    z-index: 1;
}

.add-button button[type="submit"]{
    background: green;
    width: 65%;
    height: 82%;
    cursor: pointer;
    position: relative;
    top: 10px;
}
.add-it{
    color:bisque ;
    font-size: 15px;
}

.delete-icon{
    position: relative;
    left:790px;
    font-size: 25px;
    top: -215px;
    z-index: 1;
    color: antiquewhite;
}

.delete-it{
    color: bisque;
    position: relative;
    top: 2px;
    left: 8px;
}

.delete-button button[type="submit"] {
    width: 12%;
    height: 10%;
    border: 1px solid lightgray;
    background-color: red;
    cursor: pointer;
    position: relative;
    top: -220px;
    left: 25rem;
}


#added{
    width: 99%;
    height: 2.5rem;
    border:1px solid lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -179px;
}


.no-list-style li {
    display: inline-block;
    padding-left:10px;
}

.checkout{
    position: relative;
    right: 250px;
}

.describe-it{
position: relative;
right: 220px;
top:-20px;
font-family: sans-serif;
font-size: 20px;
}

.calender-icon{
    position: relative;
    right: 350px;
    top:20px;
    font-size: 25px;
    color: darkgray;
}

.date-it
{
    position: relative;
    right: 340px;
    top:20px;
    font-size: 20px;
}

.task{
    position: relative;
    top:-20px;
    right: -60px;
    font-size: 20px;
    
}

.task-it{
    position: relative;
    top:20px;
    font-size: 20px;
    right: 90px;
}

.timing{
    position: relative;
    top: -20px;
    font-size: 20px;
    left:300px;
}

.time-it{
    position: relative;
    font-size: 20px;
    left: 200px;
    top: 20px;
}

.clock-icon{
    font-size: 20px;
    color: gray;
    position: relative;
    left: 200px;
    top: 20px;
}

